body {
    margin: 0;
  }

.inicio_container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    background-color: $background;
    min-height: 91vh;

}

