
// $principal: rgb(37, 150, 190);
// $secundario: rgb(224,236,252)
// $secundario: rgb(48,164,244);
// $principal: rgb(8,60,84);

// ---------- Colores ----------

$principal: rgb(104,164,204);
$secundario: rgb(32,76,92);
$terciario: rgb(32,60,76);
$background: rgb(238, 238, 238);
$btn_color: rgb(90, 145, 182);
$btn_color_hover: rgb(47, 105, 143);
$mini_btn: rgb(96, 172, 223);
$btn_disabled:rgb(139, 182, 211);


// ---------- Paleta 2-------------

// $principal: rgb(43, 42, 42);
// $secundario: rgb(95, 91, 91);
// $terciario: rgb(56, 56, 56);
// $background: rgb(238, 238, 238);
// $btn_color: rgb(95, 117, 131);
// $btn_color_hover: rgb(60, 69, 75);
// $mini_btn: rgb(170, 195, 212);
// $btn_disabled:rgb(220,220,220);


// ---------- Letra ----------

$fuente: Arial, Helvetica, sans-serif;
$letraPrincipal: rgb(255, 255, 255);
$letraSecundaria: rgb(187, 187, 187);
$letraText: rgb(59, 59, 59);








